<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Sasquatch Websightings</title>
</head>
<body>
    <div class="navbar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <h1> Hello, <u>{{session.first_name}}</u>. Welcome to Sasquatch Websightings- View Sighting Report</h1>
          <a class="active" href="/all_reports"><i class="fa fa-fw fa-home"></i>All Reports</a>
          <a class="active" href="/logout">Logout</a>
    </div>
  <div class="container">
    <form action="/update_sighting" method="POST">
      <div class="row">
        <div class="col-25"> 
        <input type="hidden" name="sighting_id" value="{{report.sighting_id}}">
          <label for="fname">Location</label>
        </div>
        <div class="col-75">
          <input type="text" id="location" name="location" value="{{report.location}}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="date_of_sighting">Date of Sighting</label>
        </div>
        <div class="col-75">
          <input type="date" id="date_of_sighting" name="date_of_sighting" value="{{report.date_of_sighting}}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="number_of_sasquaches">Number of Sasquatches</label>
        </div>
        <div class="col-75">
          <input type="number" id="number_of_sasquaches" name="number_of_sasquatches" value="{{report.number_of_sasquatches}}" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="what_happened">What Happened?</label>
        </div>
        <div class="col-75">
          <textarea name="what_happened" id="what_happened" cols="30" rows="10">{{report.what_happened}}</textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Report">
      </div>
    </form>
  </div> 
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->